.header{
    background-color: #3b014e;
    grid-area: h;
    margin-bottom: 5px;
}
header img {
    width: 50px;
}
.loginBlock {
    float: right;
    font-size: 26px;
    padding: 10px 15px 0 0 ;
}

.loginBlock a{
    text-decoration: none;
    color: #ffffff;
}